.flex__item--input {
    flex-direction: row;
}

.flex {
    display: flex;
    margin: 10px;
    flex-direction: column;

}

.flex__item {
    width: 100%;
    padding: 20px;
    margin: 1px;
    background-color: white;

}